* {
	border: 1px solid red !important;
}

html {
	font-size: 16px;
}

.portada {
	/* height: 80vh; */
	padding: 15.5vw 0;
	background-image: url(imagenes/portada.jpg);
	background-size: cover;
	background-position: center;
	line-height: normal;
}

body {
	margin: 0;
	background-color: #1f0c21;
	font-family: 'Outfit', sans-serif;
	color: #ffffff;
	overflow-x: hidden;
}

#tit {
	font-size: 5vw;
	color: #ffffff;
	margin: 0;
	font-weight: 900;
}

#sub {
	font-size: 2vw;
	color: #ffffff;
	margin: 1.5vw 0;
}

.titulostam {
	padding-top: 30px;
	/*margin: 190px;*/
	font-size: 30px !important;
	font-weight: bold;
	margin-left: 1vw;
}

.benef {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 40px 0;
}

.beneficios {
	/*margin: 0px 150px;*/
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 3vw;
	margin-left: 1vw;
}

.columna {
	flex-basis: calc(48% - 1vw);
}

@media screen and (max-width: 768px) {
  .beneficios {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .columna {
    flex-basis: 100%;
  }

  .beneficio {
    margin-top: 0px;
    margin-bottom: 30px;
  }

  .titubeneficios {
    font-size: 35px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
  }

  .textobenef {
    font-size: 25px;
    font-weight: lighter;
  }

  .beneficio p {
    margin-top: 5px;
  }
}

@media screen and (max-width: 576px) {
  .titubeneficios:before {
    content: '';
    position: absolute;
    top: 0;
    left: -1vw;
    width: 0.25vw;
    height: 2.5vw;
    background-color: #fdca2e;
  }
}



.beneficio {
	margin-top: 0px;
	margin-bottom: 30px;
}

.textobenef {
	font-size: 25px;
	font-weight: lighter;
}

.beneficio p {
	margin-top: 5px;
}

.titubeneficios:before {
	content: '';
	position: absolute;
	top: 0;
	left: -1vw;
	width: 0.25vw;
	height: 2.5vw;
	background-color: #fdca2e;
}

#titulo-formulario {
	color: white;
	font-size: 2vw;
	text-align: center;
	flex-grow: unset;
	text-wrap: nowrap;
	padding: 0 1vw;
}

.linea-horizontal {
	align-items: center;
}

.linea-horizontal > .linea-izquierda,
.linea-horizontal > .linea-derecha {
	border-top: 2px solid white;
	flex: 1;
}

.row {
	display: flex;
	flex-direction: row;
}

.col {
	flex: 1;
}

.formulario {
  margin: 2vw auto; 
}

.formulario div {
  margin-bottom: 2vw; 
}

.formulario label {
  display: block;
  font-size: 1.5vw; 
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario select {
  width: calc(100% - 1vw);
  padding: 1vw; 
  font-size: 2.4vw !important;
}

.boton {
	font-family: 'Outfit', sans-serif;
	font-weight: bold;
	display: inline-block;
	/*margin: 0 auto;*/
	padding: 1vw 1vw;
	font-size: 1vw;
	background-color: #fdca2e;
	color: #1f0c21;
	border: none;
	cursor: pointer;
	border-radius: 70px;
	transition: background-color 0.3s ease;
	text-decoration: none;
}

.button-container {
	text-align: center;
}

.obligatorio {
  font-size: 1.5vw;
  margin-left: 0.5vw;
}

@media screen and (max-width: 768px) {
  .obligatorio {
    font-size: 2vw;
    margin-left: 1vw;
  }
}

.popup {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	max-width: 500px;
	background-image: url(imagenes/portada.jpg);
	background-size: cover;
	background-position: center;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 10px;
	text-align: center;
}

.popup-content {
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 10px;
	padding: 20px;
}

.popup-text {
	color: #fff;
}

.popup-text h2 {
	font-size: 24px;
	margin-bottom: 20px;
}

.popup-text p {
	font-size: 18px;
	line-height: 1.6;
}

.close {
	color: #ccc;
	font-size: 20px;
	cursor: pointer;
	position: absolute;
	top: 10px;
	left: 10px;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.3);
}

.close:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

.contenedor-rectangulo {
	margin-top: 20px;
}

.rectangulo {
	background-color: #180c1b;
	box-shadow: 1px 0px 5px 5px rgba(0, 0, 0, 0.3);
	/*padding: 20px 20px 80px;*/
	border-radius: 0px;
	margin-bottom: 1.5vw;
}

.rectangulo h1 {
	margin-bottom: 0px;
	margin-top: 0;
}

.center {
	display: flex;
	justify-content: center;
}

.justify-between {
	justify-content: space-between;
}

.titulo.footer {
	font-size: 30px;
	font-weight: bolder;
	text-align: center;
	margin-top: 20px;
}

@media screen and (max-width: 576px) {
	.titulo.footer {
		font-size: 6vw;
  } 
}

.redessociales ul {
	list-style: none;
	vertical-align: top;
	gap: 1.4vw;
	justify-content: center;
	padding: 0;
}

.logo img {
  margin: 1vw 0;
  max-height: 10vw;
}

.redessociales ul img {
	height: 40px;
}

.align-center {
	align-items: center;
}

header nav {
	margin: 0px 60px;
}

.lanzamientos img {
	height: 150px;
	width: 150px;
}

.titulanzamiento {
	font-size: 4vw;
	font-weight: bold;
	margin: 0;
}

.lanzamientos {
	padding: 0px 150px;
}

.sublanzamiento {
	font-size: 1.5vw;
	font-weight: lighter;
	margin: 0;
}

.test1 {
	width: 90%;
}

.artista-politicas {
	display: flex;
	flex-direction: column;
}

/* @media screen and (max-width: 576px) {
  header {
    padding: 50px 20px;
    align-items: center;
  }

  #tit,
  #sub,
  #btn-saber-mas {
    margin: 20px 0;
    margin-left: 20px;
    text-align: left;
  }
} */

@media screen and (max-width: 576px) {
	.linea-horizontal > .linea-izquierda,
	.linea-horizontal > .linea-derecha {
		width: 20%;
	}
}

@media screen and (max-width: 576px) {
	.titulostam {
		font-size: 24px;
	}
}

.separador {
	width: 4px;
	height: 100%;
	background-color: yellow;
}

.columnae {
	margin-left: 9vw;
	margin-top: 2.5px;
	margin-right: 9vw;
	text-align: center;
}

.politicas {
	color: #b99a3c;
}

.rectangulos {
	background-color: #180c1b;
}

.ff {
	background-color: #180c1b;
}

.titulofooter {
	font-size: 3vw;
	text-align: center;
}

@media screen and (max-width: 576px) {
	.titulofooter {
		font-size: 3vw;
	}
}

.justify-arround {
	justify-content: space-around;
}

.card {
  margin-bottom: 2vw;
  width: 25vw;
  position: relative;
  display: inline-block;
  color: black !important;
}

.card img {
  width: 100%;
  height: auto;
  max-width: 100%;
  height: auto;
}

.card-footer {
	/*position: absolute;*/
	bottom: 0;
	left: 0;
	width: 100%;
	background: #3ec9d9;
	padding: 1vw;
	box-sizing: border-box;
  min-height: auto;
}

.card-footer h5 {
  font-weight: bold;
  margin: 0 0 0.5vw 0;
  font-size: calc(1.4vw + 0.5vh);
} 

.card-footer p {
  margin: 0;
  font-weight: bold;
  font-size: calc(1.2vw + 0.4vh);
}


.container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.tapas {
	margin: 2.5vw 0;
}

.tapas .row {
	gap: 1vw;
	margin: 1vw 0;
}

.tapas img {
	width: 12vw;
	height: 12vw;
}

.textolanzamiento {
	margin: 7vw 0;
}



/* Media */

@media screen and (max-width: 1400px) {
  .titubeneficios:before {
    height: 3vw;
  }
}

@media screen and (max-width: 1200px) {
  .columnae {
    margin-left: 1vw;
    margin-right: 1vw;
  }

}

@media screen and (max-width: 992px) {

  .ultimoslanzamientos {
    display: flex;
    flex-direction: column-reverse;
  }

  .tapas img {
    width: 20vw;
    height: 20vw;
  }

  .tapas .row {
    justify-content: space-between;
    margin-bottom: 6vw;
    margin-top: 1vw;
  }

  #tit {
    font-size: 6vw;
  }

  #sub {
    font-size: 3vw;
  }

  .boton {
    padding: 2vw;
    font-size: 2vw;
  }

  header .redessociales {
    display: none;
  }

  .titulanzamiento {
    font-size: 6vw;
  }

  .sublanzamiento {
    font-size: 3vw;
  }

  .beneficios {
    flex-direction: column;
  }

  .columna {
    flex-basis: 100%;
    margin: 2vw 0;
  }

  .beneficio {
    margin-top: 0px;
    margin-bottom: 30px;
  }

  .titubeneficios {
    font-size: 35px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
  }

  .textobenef {
    font-size: 25px;
    font-weight: lighter;
  }

  .beneficio p {
    margin-top: 5px;
  }

  .entrev {
    display: flex;
    justify-content: space-evenly;
  }

  .entrev .row.justify-between {
    flex-direction: column;
    gap: 3vw;
  }

  .titubeneficios:before {
    height: 5vw;
  }
}

@media screen and (max-width: 768px) {
  .beneficios {
    flex-direction: column;
  }

  .columna {
    flex-basis: 100%;
  }

  .beneficio {
    margin-top: 0px;
    margin-bottom: 30px;
  }

  .titubeneficios {
    font-size: 3.6vw !important;
    font-weight: bold;
    position: relative;
    display: inline-block;
    margin-bottom: 0.5vw;
    }
  
  .textobenef {
    font-size: 3vw;
    font-weight: lighter;
  }
  
  .beneficio p {
    margin-top: 0.5vw;
    }
  
  @media screen and (max-width: 768px) {
    .beneficios {
      flex-direction: column;
    }
  
    .columna {
      flex-basis: 100%;
    }
  
    .beneficio {
      margin-top: 0;
      margin-bottom: 2vw;
        }
  }
  
  @media screen and (max-width: 576px) {
    .titubeneficios {
      font-size: 3vw;
      }
  
    .titubeneficios:before {
      content: '';
      position: absolute;
      top: 0;
      left: -1vw;
      width: 0.25vw;
      
      background-color: #fdca2e;
    }
  }
 
  
  #titulo-formulario {
    color: white;
    font-size: 2vw;
    text-align: center;
    flex-grow: unset;
    text-wrap: nowrap;
    padding: 0 1vw;
  }

  .linea-horizontal {
    align-items: center;
  }

  .linea-horizontal > .linea-izquierda,
  .linea-horizontal > .linea-derecha {
    border-top: 2px solid white;
    flex: 1;
  }

  .col {
    flex: 1;
  }

  
  @media screen and (max-width: 768px) {
    .formulario {
      margin: 5vw auto;
    }
  
    .formulario div {
      margin-bottom: 5vw;
    }
  
    .formulario label {
      font-size: 3vw;
    }
  
    .formulario input[type="text"],
    .formulario input[type="email"],
    .formulario select {
      padding: 2vw;
      font-size: 2vw;
    }
  }

  footer {
    background-color: #180c1b;
    padding: 3vw;
}

.contenedor-rectangulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linea-horizontal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vw;
}

.linea-izquierda,
.linea-derecha {
    flex-grow: 1;
    height: 2px;
    background-color: #ffffff;
}

.redessociales ul img {
    height: 3vw;
}

#titulo-formulario {
    color: white;
    font-size: 2vw;
    text-align: center;
    margin: 1vw 0;
}

@media screen and (max-width: 768px) {
    .redessociales ul img {
        height: 4vw;
    }
}

@media screen and (max-width: 576px) {
    .linea-izquierda,
    .linea-derecha {
        display: none;
    }

    .linea-horizontal {
        margin-bottom: 1vw;
    }

    .redessociales ul img {
        height: 5vw;
    }

    #titulo-formulario {
        font-size: 3vw;
    }
 
} 

}
