html {
  font-size: 16px;

}

body {
 
  background-color: #1f0c21;
  font-family: "Outfit", sans-serif;
  color: #fff;
  overflow-x: hidden;
}

.portada {
  height: 80vh;
  padding-top: 20vh;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  background-image: url(imagenes/portada.jpg);
  background-size: cover;
  background-position: center;
  line-height: normal;
}

#tit {
  margin: 0 10vw;
  font-size: 5vw;
  color: #ffff;
  margin-bottom: 1rem;
  text-align: justify;
}

#sub {
  margin: 2vw 10vw;
  color: #ffff;
  font-size: 2.5vw;
  margin-top: 0.5rem;
  text-align: justify;
}

#btn-saber-mas {
  margin-top: 0.5rem;
  margin: 2vw 10vw;
  padding: 15px 30px;
  font-size: 2.5vw;
  display: inline-block;
}


.contenedor-texto {
  text-align: center;
}

.contenedor-boton {
  margin-top: 0.5rem;
}

@media screen and (max-width: 414px) {
  .portada {
    padding: 10vh 5vw;
  }

  #tit {
    font-size: 6vw;
  }

  #sub {
    font-size: 3vw;
  }

  .boton {
    font-size: 1.4rem;
  }
}

.titulostam {
  padding-top: 3vw;
  margin: 0 auto;
  font-size: 6vw;
  font-weight: bold;
  text-align: center;
}

.benef {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 4vw 0;
}

#beneficios {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 5vw;
}

.columna {
  flex-basis: 48%;
  margin-bottom: 5vw;
}

.beneficio {
  margin-top: 0;
  margin-bottom: 3vw;
}

.titubeneficios {
  font-size: 3.5vw;
  font-weight: bold;
  position: relative;
  display: inline-block;
  margin-bottom: 1vw;
}

.textobenef {
  font-size: 2.5vw;
  font-weight: lighter;
}

.titubeneficios:before {
  content: "";
  position: absolute;
  top: 0;
  left: -1vw;
  width: 0.3vw;
  height: 4vw;
  background-color: #FDCA2E;
}

.separador {
  width: 0.3vw;
  height: 100%;
  background-color: yellow;
}

@media screen and (max-width: 768px) {
  .columna {
    flex-basis: 100%;
  }

  .titulostam {
    font-size: 8vw;
  }

  .titubeneficios {
    font-size: 5vw;
  }

  .textobenef {
    font-size: 3vw;
  }

  .separador {
    display: none;
  }
}


#titulo-formulario {
  text-align: center;
  
  color: white;
  font-size: 30px;
  position: relative;
  text-align: center;
}

.linea-horizontal {
  width: 90%;
  margin: 0 auto;
  align-items: center;
  margin-top: 20px;
  position: relative;
}

.linea-horizontal>.linea-izquierda,
.linea-horizontal>.linea-derecha {
  display: inline-block;
  min-width: 30%;
  vertical-align: middle;
  border-top: 2px solid white;
}

.row {
  display: flex;
}

.col {
  flex: 1;
  margin: 0 1rem;
  margin-top: 5px;
}

.formulario {
  margin: 20px auto;
  margin-left: 150px;
  margin-right: 150px;
  max-width: 90%;
}

.formulario div {
  margin-bottom: 20px;
}

.formulario label {
  display: block;
  font-size: 18px;
}

.formulario input[type="text"],
.formulario input[type="email"],
/*.formulario input[type="artista"],*/
.formulario select {
  width: calc(100% - 10px);
  padding: 10px;
  font-size: 16px;
}

.boton {
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  margin-top: 2rem;
  padding: 20px 20px;
  font-size: 1.4rem;
  background-color: #FDCA2E;
  color: #1f0c21;
  border: none;
  cursor: pointer;
  border-radius: 70px;
  transition: background-color 0.3s ease;
}

.button-container {
  text-align: center;
}

.obligatorio {
  color: red;
  margin-left: 5px;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 500px;
  background-image: url(imagenes/portada.jpg);
  background-size: cover;
  background-position: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
}

.popup-content {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 20px;
}

.popup-text {
  color: #fff;
}

.popup-text h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.popup-text p {
  font-size: 18px;
  line-height: 1.6;
}

.close {
  color: #ccc;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
}

.close:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.contenedor-rectangulo {
  margin-top: 20px;
}

.rectangulo {
  background-color: #180c1b;
  box-shadow: 1px 0px 5px 5px rgba(0, 0, 0, 0.3);
  padding: 20px 20px 80px;
  border-radius: 0px;
}

.rectangulo h1 {
  margin-bottom: 0px;
  margin-top: 0;
}


.center {
  display: flex;
  justify-content: center;
}


.justify-between {
  justify-content: space-between;

}

.redessociales ul {
  list-style: none;
  display: flex;
  gap: 1.4rem;
  justify-content: center;
}

.logo img {
  margin: 10px 0px;
  max-height: 90px;
}

.redessociales ul img {
  height: 40px;
}

.align-center {
  align-items: center;
}

header nav {
  margin: 0px 20px;
}

@media screen and (max-width: 576px) {
  header nav {
    margin: 0px;
  }

  .logo img {
    max-width: 100px;
  }

  .redessociales ul {
    gap: 0.8rem;
    padding: 0 10px;
  }

  .redessociales ul img {
    height: 30px;
  }
}

.lanzamientos img {
  height: 10vw;
  width: 10vw;
  margin-bottom: 2vw;
}

.titulanzamiento {
  font-size: 3.5vw;
  font-weight: bold;
}

.lanzamientos {
  padding: 20 20px;
}

.sublanzamiento {
  font-size: 2vw;
  font-weight: lighter;
}

.test1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 2vw;
}

.col {
  flex-basis: 50%;
  margin-top: 3vw;
}

.col-img {
  flex: 1;
  margin-right: 20px;
  margin-bottom: 20px;
}

.col-img img {
  width: 100%;
  height: auto;
  margin-bottom: 2vw;
}

.col-texto {
  flex: 1;
}

.artista-politicas {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 576px) {
  .lanzamientos {
    flex-direction: column;
  }
  
  .col-img,
  .col-texto {
    margin-right: 0;
  }

  .col-img {
    margin-bottom: 2vw;
  }
}

@media screen and (max-width: 576px) {
  header {
      padding: 50px 20px;
      align-items: center;
  }

  #tit,
  #sub,
  #btn-saber-mas {
      margin: 20px 0;
      margin-left: 20px;
      text-align: left;
  }
}


@media screen and (max-width: 576px) {

  .linea-horizontal>.linea-izquierda,
  .linea-horizontal>.linea-derecha {
      width: 20%;
  }
}


@media screen and (max-width: 576px) {
  .titulostam {
      font-size: 24px;
  }
}



.separador {
  width: 4px;
  height: 100%;
  background-color: yellow;
}


.columnae{
  
  margin-bottom: 150px;
  margin-left: 150px;
  margin-top: 40px;
  margin-right: 150px;
  text-align: center;
}

.politicas{
  color: #B99A3C;
}

.rectangulos {
  background-color: #180c1b;
   
}

.ff{
  background-color: #180c1b;
}

.titulofooter{
  font-size: 24px;
  text-align: center;
}
